:root {
    --offset: -275px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: calc(75% - 10px) calc(25% - 10px);
    margin: 20px auto 0;
    width: 1200px;
}

.large-view {
    background: #eee;
    grid-area: 1/1 / 7/1;
    z-index: 1;
}

.item {
    background: black;
    cursor: pointer;
    display: flex;
    height: 90px;
    position: relative;
    z-index: 0;
}

.text-content {
    color: yellow;
    padding: 10px;
    overflow: hidden;
    width: 234px;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

.item p {
    display: -webkit-box;
    font-size: 0.875rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item > * {
    pointer-events: none;
}

.selected {
    background: black;
    display: flex;
    height: 640px;
    position: relative;
    view-transition-name: selected;
}

.selected img {
    height: auto;
    width: 50%;
}

.selected .text-content {
    padding: 20px;
    perspective: 500px;
    text-align: center;
    width: 50%;
}

.selected h2 {
    font-size: 2rem;
    margin-bottom: 1.125rem;
}

.selected p {
    font-size: 1.125rem;
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: -70px;
    transform: rotateX(30deg);
}

@keyframes slide-from-right {
    from {
        transform: translateX(610px) translateY(var(--offset)) scaleX(0.33) scaleY(0.14);
    }
}

::view-transition-new(selected) {
    animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}